GPSData.json
[{"id":"53af2cee.b80344","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d855b397.fa5ed","type":"gpsd","z":"53af2cee.b80344","name":"GPSSensor","hostname":"localhost","port":"2947","tpv":true,"sky":true,"info":false,"device":true,"gst":true,"att":true,"x":130,"y":80,"wires":[["7dd21983.692918"]]},{"id":"7dd21983.692918","type":"debug","z":"53af2cee.b80344","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":80,"wires":[]},{"id":"7fe5466.620edb8","type":"status","z":"53af2cee.b80344","name":"GPS Status","scope":["d855b397.fa5ed"],"x":130,"y":220,"wires":[["f0f495c6.8507a8","6f238d41.c48f14"]]},{"id":"f0f495c6.8507a8","type":"switch","z":"53af2cee.b80344","name":"GPS Fix Status","property":"status.text","propertyType":"msg","rules":[{"t":"cont","v":"No Fix","vt":"str"},{"t":"cont","v":"2D Fix","vt":"str"},{"t":"cont","v":"3D Fix","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":370,"y":240,"wires":[["e1c52b5a.cfa718"],["21842c3f.30a964"],["6d199707.c45b98"]]},{"id":"6d199707.c45b98","type":"debug","z":"53af2cee.b80344","name":"3D Fix","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":380,"wires":[]},{"id":"21842c3f.30a964","type":"debug","z":"53af2cee.b80344","name":"2D Fix","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":300,"wires":[]},{"id":"e1c52b5a.cfa718","type":"debug","z":"53af2cee.b80344","name":"No Fix","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":240,"wires":[]},{"id":"6f238d41.c48f14","type":"debug","z":"53af2cee.b80344","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","targetType":"msg","x":540,"y":160,"wires":[]}]