GPSMiniProject.json
[
    {
        "id": "457a333e.231ffc",
        "type": "tab",
        "label": "Location Simulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ef9cd00.a4852",
        "type": "inject",
        "z": "457a333e.231ffc",
        "name": "GPSLocation",
        "topic": "v1/devices/me/telemetry",
        "payload": "[{\"latitude\":52.343767,\"longitude\":-8.973368},{\"latitude\":52.343512,\"longitude\":-8.970932},{\"latitude\":52.342883,\"longitude\":-8.97252},{\"latitude\":52.343653,\"longitude\":-8.973873},{\"latitude\":52.342936,\"longitude\":-8.972407}]",
        "payloadType": "json",
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "32ad7c9d.9e7124"
            ]
        ]
    },
    {
        "id": "2daa9780.79a168",
        "type": "function",
        "z": "457a333e.231ffc",
        "name": "send json",
        "func": "\nmsg.payload={\n    location:msg.payload[0]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "b74eb70d.11cc98",
                "399a5b47.c2d274"
            ]
        ]
    },
    {
        "id": "b74eb70d.11cc98",
        "type": "debug",
        "z": "457a333e.231ffc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "399a5b47.c2d274",
        "type": "mqtt out",
        "z": "457a333e.231ffc",
        "name": "",
        "topic": "v1/devices/me/telemetry",
        "qos": "0",
        "retain": "",
        "broker": "747b9bb3.00c844",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "32ad7c9d.9e7124",
        "type": "json",
        "z": "457a333e.231ffc",
        "name": "GPSJSON",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "2daa9780.79a168",
                "76d14a28.8b5c44",
                "b0533fdf.f21cf",
                "769a905c.6af71",
                "e3984580.4aae78"
            ]
        ]
    },
    {
        "id": "c5335337.0c443",
        "type": "delay",
        "z": "457a333e.231ffc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "b74eb70d.11cc98",
                "399a5b47.c2d274"
            ]
        ]
    },
    {
        "id": "76d14a28.8b5c44",
        "type": "function",
        "z": "457a333e.231ffc",
        "name": "send json",
        "func": "\nmsg.payload={\n   location:msg.payload[1]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "c5335337.0c443"
            ]
        ]
    },
    {
        "id": "b0533fdf.f21cf",
        "type": "function",
        "z": "457a333e.231ffc",
        "name": "send json",
        "func": "\nmsg.payload={\n    location:msg.payload[2]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "6ea7e3f3.c4623c"
            ]
        ]
    },
    {
        "id": "769a905c.6af71",
        "type": "function",
        "z": "457a333e.231ffc",
        "name": "send json",
        "func": "\nmsg.payload={\n    location:msg.payload[3]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "225f6ff5.a569b"
            ]
        ]
    },
    {
        "id": "6ea7e3f3.c4623c",
        "type": "delay",
        "z": "457a333e.231ffc",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "b74eb70d.11cc98",
                "399a5b47.c2d274"
            ]
        ]
    },
    {
        "id": "225f6ff5.a569b",
        "type": "delay",
        "z": "457a333e.231ffc",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "b74eb70d.11cc98",
                "399a5b47.c2d274"
            ]
        ]
    },
    {
        "id": "e3984580.4aae78",
        "type": "function",
        "z": "457a333e.231ffc",
        "name": "send json",
        "func": "\nmsg.payload={\n    location:msg.payload[4]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "d0edbfc.c8a7d4"
            ]
        ]
    },
    {
        "id": "d0edbfc.c8a7d4",
        "type": "delay",
        "z": "457a333e.231ffc",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "399a5b47.c2d274",
                "b74eb70d.11cc98"
            ]
        ]
    },
    {
        "id": "747b9bb3.00c844",
        "type": "mqtt-broker",
        "z": "",
        "name": "HhXDFudTisdkqHXVWf42",
        "broker": "demo.thingsboard.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]