TemperatureRealTime.json
[{"id":"ef3026a0.dd6128","type":"tab","label":"Sensor Example Raspberry Pi","disabled":false,"info":""},{"id":"adcadb9f.a10f18","type":"inject","z":"ef3026a0.dd6128","name":"TemperatureSensor","topic":"v1/devices/me/telemetry","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["d01c43cd.89a44"]]},{"id":"d01c43cd.89a44","type":"cpu","z":"ef3026a0.dd6128","name":"Temperature","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":310,"y":80,"wires":[["bdaadc06.fdd39"]]},{"id":"bdaadc06.fdd39","type":"function","z":"ef3026a0.dd6128","name":"send json","func":"msg.payload = {\n  temperature: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["6c90d617.e304a8","c569c051.fdc79"]]},{"id":"6c90d617.e304a8","type":"debug","z":"ef3026a0.dd6128","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":60,"wires":[]},{"id":"c569c051.fdc79","type":"mqtt out","z":"ef3026a0.dd6128","name":"","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"747b9bb3.00c844","x":930,"y":160,"wires":[]},{"id":"747b9bb3.00c844","type":"mqtt-broker","z":"","name":"HhXDFudTisdkqHXVWf42","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]